<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
<<<<<<< HEAD
    <p>You have received a meassage from <%= "#{@name}, #{@email}." %></p>
=======
    <p>You have received a message from the site's contact form, from <%= "#{ @name }, #{ @email }." %></p>
>>>>>>> development
    <p><%= @body %></p>
  </body>
</html>